<!--<h1>Employee list</h1>-->
<!--<mat-list role="list">-->

<!--  <mat-list-item *ngFor="let item of list$ | async" role="listitem">{{item.name}}-->
<!--    <button (click)="delete(item.personalNumber)" color="primary" mat-raised-button>Remove</button>-->
<!--  </mat-list-item>-->
<!--</mat-list>-->
<mat-grid-list cols="2" rowHeight="1:2">
    <mat-grid-tile>
        <mat-list role="list">
            <mat-list-item *ngFor="let item of list$ | async" role="listitem">{{item.name}}
                <button (click)="selectEmployee(item.personalNumber)" color="primary" mat-button>Show Details</button>

            </mat-list-item>
        </mat-list>
    </mat-grid-tile>
    <mat-grid-tile>
        <ng-container
                *ngIf="details$ | async as item "> {{item.name}} {{item.salary}}</ng-container>

    </mat-grid-tile>
</mat-grid-list>
